body {
  margin: 100px 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

.top-padding {
  padding-top: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.anchor-nodec {
  text-decoration: none;
  color: black;
}

.anchor-nodec:hover {
  text-decoration: none;
  color: black;
}

.button-nodec {
  text-decoration: none;
  border: none;
  outline: none;
}

.button-nodec:focus {
  text-decoration: none;
  border: none;
  outline: none;
}

/* for upload post */
.post-upload-button {
  position: fixed;
  background: none;
  display: block;
  background-position: -64px -34px;
  background-image: url(./sprite.png);
  background-size: 280px 250px;
  background-repeat: no-repeat;
  height: 53px;
  width: 56px;
  padding-left: 10px;
  margin-left: 12px;
  text-indent: -1000%;
  top: 80%;
  left: 83%;
}

/* for navbar */

.Nav {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  -webkit-transition: height 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
  height: 54px;
}
.Nav-menus {
  display: flex;
  flex-direction: row;
  height: 77px;
  width: 70%;
  margin: 0 auto;
  padding: 11px 40px;
}
.Nav-brand-logo {
  display: block;
  background-position: -238px -1px;
  background-image: url(./sprite.png);
  background-size: 394px 379px;
  background-repeat: no-repeat;
  height: 35px;
  width: 105px;
  text-indent: -1000%;
}
.Nav-user-button {
  display: block;
  background-position: -296px -176px;
  background-image: url(./sprite.png);
  background-size: 390px 388px;
  background-repeat: no-repeat;
  height: 35px;
  width: 24px;
  text-indent: -1000%;
  margin-left: auto;
}

/* /////////// for post */
.Post {
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  margin-bottom: 60px;
  margin-left: 20%;
  margin-right: 20%;
}
.Post-user {
  display: flex;
  padding: 16px;
  align-items: center;
}
.Post-user-avatar {
  width: 30px;
  height: 30px;
}
.Post-user-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.Post-user-nickname {
  margin-left: 12px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}
.Post-image-bg {
  background-color: #efefef;
}
.Post-image img {
  display: block;
  width: 100%;
  max-height: 450px;
}
.Post-caption {
  padding: 5px 0px 5px 16px;
  font-size: 14px;
}
.Post-likes {
  padding: 5px 0px 5px 16px;
  font-size: 14px;
}
.Post-caption strong {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}
.Post-time {
  font-weight: lighter;
  font-size: 10px;
  padding-left: 16px;
  padding-bottom: 5px;
}
.vjs-fade-out {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.button-no-style {
  text-decoration: none;
  border: none;
  padding: none;
}

.post-like-button-white {
  display: block;
  background-position: -143px -406px;
  background-image: url(./sprite.png);
  background-size: 469px 472px;
  background-repeat: no-repeat;
  height: 34px;
  width: 33px;
  padding-left: 10px;
  margin-left: 12px;
  text-indent: -1000%;
}

.post-like-button-black {
  display: block;
  background-position: -229px -401px;
  background-image: url(./sprite.png);
  background-size: 467px 466px;
  background-repeat: no-repeat;
  height: 34px;
  width: 31px;
  padding-left: 10px;
  margin-left: 12px;
  text-indent: -1000%;
}

/* //for profile// */
.container {
  width: 70%;
}

.profile-avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.profile-details {
  padding-top: 20px;
}

.profile-username {
  font-weight: 900;
  font-size: 18px;
  padding-top: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.profile-logout {
  font-size: 12px;
  margin-top: 4px;
  /* background-color: #fafafa; */
}

.profile-stats {
  font-weight: 500;
  font-size: 14px;
  padding-top: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.profile-post-image {
  height: 250px;
  width: 250px;
}

.profile-grid {
  padding-bottom: 20px;
  /* height: 250px;
  width: 250px; */
}
